<a href="https://colab.research.google.com/github/lgc-s/python-ete/blob/main/pnt_aula6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ETE CÍCERO DIAS
# DOCENTE: CLOVES ROCHA
# ESTUDANTE: ...
# PNT - TIPOS PRIMITIVOS DE DADOS
#print('Olá mundo!')

c = 9.9
print(type(c))

<class 'float'>

In [ ]:
# 3. Operadores Aritméticos - Python
# 10 + 1
# 10 - 1
# 4 * 5
# 10 / 3
# 10 // 3
# 2 ** 3
# 13 % 2

#c = 2 ** 3
#print(c)

c = 10 // 3
print(c)

3

In [ ]:
# 4. Operadores Relacionais Simples.

# 7 > 5
# 10 < 15

notaA = 5
notaB = 10
notaA = notaB
print(notaA)

10

In [ ]:
# 5. Operadores Relacionais Compostos.
#na = 10
#nb = 6
#nc = 8
#nd = 9
#na >= nb
#7 >= 6
#print('Estudante aprovado!')
#7 <= 10
a = 10
b = 9
a != b

True

In [ ]:
nome = input('Digite seu nome: ')
print(f'Seu nome é {nome}.')

Digite seu nome: Cloves
Seu nome é Cloves.

In [ ]:
idade = int(input('Digite sua idade: '))
print(f'Você tem {idade} anos e','Meses')
print(type(idade))

Digite sua idade: 5.5
Você tem 5.5 anos e Meses
<class 'float'>

In [ ]:
peso = float(input('Digite seu peso: '))
print(f'Você pesa {peso}KGs')
print(type(peso))

Digite seu peso: 98
Você pesa 98.0KGs
<class 'float'>